#navbar {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 15px;
  height: 30px;
}
#form {
  border: 1px solid rgb(60, 60, 60);
  text-align: center;
  background-color: antiquewhite;
  margin: auto;
  margin-top: 30px;
  width: 500px;
  padding: 20px;
}
